.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-title-license {
    width: 500px;
    display: inline;
    border:1px solid black;
}

.movie-title {
    width: 500px;
    display: inline;
    border:1px solid black;
    margin-right: 20px;
}

.movie-license {
    font-size: small;
    font-weight: bold;
    text-align: center;
    height:50px;
}

.movie-license-card {
    display: inline-block;
    border: 10px solid lightgray;
    width: 225px;
    margin: 5px;
    padding: 10px;
    height:500px;
}

.movie-card {
    display: inline-block;
    border: 10px solid lightgray;
    width: 225px;
    margin: 5px;
    padding: 10px;
}

div.card div.card-title {
    height: 50px;    
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
}

div.card div.card-body {
    height: 100px;
    font-size: smaller;
}

span.movie-card div.card div.card-image {
   align-content: center;
}
.card-img {
    width: 175px;
    height: 250px;
}
